<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Freelancer - Start Bootstrap Theme</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <title>Admin Login</title>
    </head>
    <body id="page-top">
    <header class="masthead bg-secondary text-white text-center">
            <div class="container d-flex align-items-center flex-column">

                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0"><p></p></h1>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <div class="container">
    <h2>Admin Login</h2>

    <%= form_tag(admins_authenticate_path, method: :post) do %>

      
      
      <input class="container form-control2" id="username" type="username" name="username" placeholder="Enter username" required />
      <label for="username"></label>
      <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
  

      <br>

      <input class="container form-control2" id="password" type="password" name="password" placeholder="password" required />
      <label for="password"></label>
      <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
      

      <br>
      
      <input type="submit" value="Login" class="btn btn-xl btn-outline-light">
    <% end %>

    <% if flash[:alert] %>
      <p class="alert"><%= flash[:alert] %></p>
    <% end %>
  </div>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
  
</body>
</html>
